[% USE raw %]
[% USE Asset %]
[% USE Koha %]
[% USE KohaDates %]
[% USE Branches %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Circulation &rsaquo; Holds awaiting pickup</title>
[% INCLUDE 'doc-head-close.inc' %]
[% Asset.css("css/datatables.css") | $raw %]
</head>

<body id="circ_waitingreserves" class="circ">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'circ-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a>
&rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a>
&rsaquo; <a href="/cgi-bin/koha/circ/waitingreserves.pl">Holds awaiting pickup</a>
</div>

<div class="main container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <main>
                <div class="row">

                [% IF Koha.Preference('CircSidebar') %]
                    <div class="col-sm-10 col-sm-push-2">
                [% ELSE %]
                    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                [% END %]

        <h2>Holds awaiting pickup for your library on: [% show_date | $KohaDates %]
            [% IF ( all_branches_link ) %]
            <span style="margin-left:20px"><a href="[% all_branches_link | url %]">
            View all libraries</a></span>
            [% END %]
        </h2>
    [% IF ( cancel_result ) %]
        [% FOREACH cancel_result %]
            [% IF ( messagetransfert ) %]
                <div class="dialog message">
                    <h2>This item is on hold for pick-up at [% Branches.GetName( branchname ) | html %]</h2>
                    <p><strong>[% nextreservtitle | html %]</strong> is on hold for <strong> [% nextreservsurname | html %], [% nextreservfirstname | html %]</strong>.
                    Please retain this item and check it in to process the hold.
                    </p>
                    <form name="cancelReservewithtransfert" action="waitingreserves.pl#[% tab | html %]" method="post">
                        <button type="submit" class="approve"><i class="fa fa-fw fa-check"></i> OK</button>
                    </form>
                </div>
            [% END %]
            [% IF ( waiting ) %]
                <div class="dialog message">
                    <h2>This item is on hold for pick-up at your library</h2>
                    <p><strong>[% nextreservtitle | html %]</strong> is on hold for <strong>[% nextreservsurname | html %], [% nextreservfirstname | html %]</strong>.
                    Please retain this item and check it in to process the hold.
                    </p>
                    <form name="cancelReservewithwaiting" action="waitingreserves.pl#[% tab | html %]" method="post">
                        <button type="submit" class="approve"><i class="fa fa-fw fa-check"></i> OK</button>
                    </form>
                </div>
            [% END %]
        [% END %]
    [% ELSE %]
        <div id="resultlist" class="toptabs">
            <ul>
                <li><a href="#holdswaiting">Holds waiting: [% reservecount | html %]</a></li>
                <li>
                    <a href="#holdsover">
                        Holds waiting over [% Koha.Preference('ReservesMaxPickUpDelay') | html %] days: [% overcount | html %]
                    </a>
                </li>
            </ul>
            <div id="holdswaiting">
        [% IF ( reserveloop ) %]
            [% INCLUDE waiting_holds.inc table_name='holdst' reserveloop=reserveloop %]
        [% ELSE %]
            <div class="dialog message">No holds found.</div>
        [% END %]
        </div>
        <div id="holdsover">
                [% IF ( ReservesMaxPickUpDelay ) %]<p>Holds listed here have been awaiting pickup for more than [% ReservesMaxPickUpDelay | html %] days.</p>[% END %]
               [% IF ( overloop ) %]
               <form name="cancelAllReserve" action="waitingreserves.pl" method="post">
                   <input type="hidden" name="cancelall" value="1" />
                   <input type="hidden" name="allbranches" value="[% allbranches | html %]" />
                   <input type="hidden" name="tab" value="holdsover">
                   [% IF TransferWhenCancelAllWaitingHolds %]
                       <input type="submit" value="Cancel and Transfer all" />
                   [% ELSE %]
                       <input type="submit" value="Cancel all" />
                   [% END %]
               </form>
               [% UNLESS TransferWhenCancelAllWaitingHolds %]
                    Only items that need not be transferred will be cancelled (TransferWhenCancelAllWaitingHolds sypref)
               [% END %]

               [% INCLUDE waiting_holds.inc table_name='holdso' reserveloop=overloop %]
        [% ELSE %]
            <div class="dialog message">No holds found.</div>
                [% END %]
        </div>
        </div>
    [% END %]

                    [% IF Koha.Preference('CircSidebar') %]
                            </div> <!-- /.col-sm-10.col-sm-push-2 -->
                            <div class="col-sm-2 col-sm-pull-10">
                                <aside>
                                    [% INCLUDE 'circ-nav.inc' %]
                                </aside>
                            </div> <!-- /.col-sm-2.col-sm-pull-10 -->
                        </div> <!-- /.row -->
                    [% END %]

            </main>
        </div> <!-- /.col-sm-12 -->
    </div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'datatables.inc' %]
    <script>
        $(document).ready(function() {
            $('#resultlist').tabs();
            $("th a").hide();
            $("#holdst,#holdso").dataTable($.extend(true, {}, dataTablesDefaults, {
                "aoColumnDefs": [
                    { "aTargets": [ -1 ], "bSortable": false, "bSearchable": false },
                    { "sType": "anti-the", "aTargets" : [ "anti-the" ] },
                    { "sType": "title-string", "aTargets" : [ "title-string" ] }
                ],
                "sPaginationType": "four_button"
            }));
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
